In [65]:
!pip install wordcloud

Requirement already satisfied: wordcloud in /home/charan1kh/anaconda3/lib/python3.8/site-packages (1.8.1)
Requirement already satisfied: numpy>=1.6.1 in /home/charan1kh/anaconda3/lib/python3.8/site-packages (from wordcloud) (1.20.1)
Requirement already satisfied: pillow in /home/charan1kh/anaconda3/lib/python3.8/site-packages (from wordcloud) (8.2.0)
Requirement already satisfied: matplotlib in /home/charan1kh/anaconda3/lib/python3.8/site-packages (from wordcloud) (3.3.4)
Requirement already satisfied: kiwisolver>=1.0.1 in /home/charan1kh/anaconda3/lib/python3.8/site-packages (from matplotlib->wordcloud) (1.3.1)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.3 in /home/charan1kh/anaconda3/lib/python3.8/site-packages (from matplotlib->wordcloud) (2.4.7)
Requirement already satisfied: cycler>=0.10 in /home/charan1kh/anaconda3/lib/python3.8/site-packages (from matplotlib->wordcloud) (0.10.0)
Requirement already satisfied: python-dateutil>=2.1 in /home/charan1kh/anaconda3/lib/python3.8/site-packages (from matplotlib->wordcloud) (2.8.1)
Requirement already satisfied: six in /home/charan1kh/anaconda3/lib/python3.8/site-packages (from cycler>=0.10->matplotlib->wordcloud) (1.15.0)

In [66]:
import numpy as np
import pandas as pd 
import plotly
import plotly.express as px 
from plotly.subplots import make_subplots
import seaborn as sns
import matplotlib.pyplot as plt
import random
from wordcloud import WordCloud, STOPWORDS
import nltk
from nltk.sentiment.vader import SentimentIntensityAnalyzer

In [67]:
data = pd.read_csv('tv_shows.csv')
data.head()

,Unnamed: 0,Title,Year,Age,IMDb,Rotten Tomatoes,Netflix,Hulu,Prime Video,Disney+,type
0,0,Breaking Bad,2008,18+,9.5,96%,1,0,0,0,1
1,1,Stranger Things,2016,16+,8.8,93%,1,0,0,0,1
2,2,Money Heist,2017,18+,8.4,91%,1,0,0,0,1
3,3,Sherlock,2010,16+,9.1,78%,1,0,0,0,1
4,4,Better Call Saul,2015,18+,8.7,97%,1,0,0,0,1

In [68]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5611 entries, 0 to 5610
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0       5611 non-null   int64
 1   Title            5611 non-null   object
 2   Year             5611 non-null   int64
 3   Age              3165 non-null   object
 4   IMDb             4450 non-null   float64
 5   Rotten Tomatoes  1011 non-null   object
 6   Netflix          5611 non-null   int64
 7   Hulu             5611 non-null   int64
 8   Prime Video      5611 non-null   int64
 9   Disney+          5611 non-null   int64
 10  type             5611 non-null   int64
dtypes: float64(1), int64(7), object(3)
memory usage: 482.3+ KB

In [69]:
data['Rotten Tomatoes'] = data['Rotten Tomatoes'].str.rstrip('%').astype('float')

In [70]:
data["Age"] = data["Age"].str.replace("+","")

<ipython-input-70-85e2aa80c63d>:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will*not* be treated as literal strings when regex=True.
  data["Age"] = data["Age"].str.replace("+","")

In [71]:
data['Age'] = pd.to_numeric(data['Age'],errors='coerce')

In [72]:
data.head()

,Unnamed: 0,Title,Year,Age,IMDb,Rotten Tomatoes,Netflix,Hulu,Prime Video,Disney+,type
0,0,Breaking Bad,2008,18.0,9.5,96.0,1,0,0,0,1
1,1,Stranger Things,2016,16.0,8.8,93.0,1,0,0,0,1
2,2,Money Heist,2017,18.0,8.4,91.0,1,0,0,0,1
3,3,Sherlock,2010,16.0,9.1,78.0,1,0,0,0,1
4,4,Better Call Saul,2015,18.0,8.7,97.0,1,0,0,0,1

In [73]:
df=data.dropna()

In [74]:
df["Age"].value_counts()

18.0    376
16.0    359
7.0     177
13.0      3
Name: Age, dtype: int64

In [75]:
#18+ = 376 shows
#16+ = 359 shows
#7+ = 177 shows
#13+ = 7 shows

In [76]:
titles=data["Title"].values
text=' '.join(titles)
len(text)

100723

In [77]:
text[1000:1500]

"er Love, Death & Robots Marvel's Jessica Jones New Girl The Good Wife The Umbrella Academy Marvel's The Punisher Ash vs Evil Dead Master of None Bodyguard Schitt's Creek Narcos: Mexico The West Wing Bates Motel Atypical Once Upon a Time Gomorrah Making a Murderer Death Note Castlevania Riverdale Burn Notice Fauda Russian Doll Our Planet Big Mouth American Horror Story Gotham I Am Not Okay with This Criminal Minds The Vietnam War Waco Star Trek The OA Outer Banks The Midnight Gospel Good Girls Ch"

In [78]:
text = re.sub(r'[^ws]','',text)

NameError: name 're' is not defined

In [80]:
text[1000:1500]

"er Love, Death & Robots Marvel's Jessica Jones New Girl The Good Wife The Umbrella Academy Marvel's The Punisher Ash vs Evil Dead Master of None Bodyguard Schitt's Creek Narcos: Mexico The West Wing Bates Motel Atypical Once Upon a Time Gomorrah Making a Murderer Death Note Castlevania Riverdale Burn Notice Fauda Russian Doll Our Planet Big Mouth American Horror Story Gotham I Am Not Okay with This Criminal Minds The Vietnam War Waco Star Trek The OA Outer Banks The Midnight Gospel Good Girls Ch"

In [81]:
text = re.sub(r'[^ws]','',text)

NameError: name 're' is not defined

In [82]:
#tokenizer
tokenizer = nltk.tokenize.RegexpTokenizer('w+')
tokens = tokenizer.tokenize(text)

words = []

In [83]:
for word in tokens:
    words.append(word.lower())

stopwords = nltk.corpus.stopwords.words('english')
words_new = []

for word in words:
    if word not in stopwords:
        words_new.append(word)

LookupError:
**********************************************************************
  Resource stopwords not found.
  Please use the NLTK Downloader to obtain the resource:

  >>> import nltk
  >>> nltk.download('stopwords')

  For more information see: https://www.nltk.org/data.html

  Attempted to load corpora/stopwords

  Searched in:
    - '/home/charan1kh/nltk_data'
    - '/home/charan1kh/anaconda3/nltk_data'
    - '/home/charan1kh/anaconda3/share/nltk_data'
    - '/home/charan1kh/anaconda3/lib/nltk_data'
    - '/usr/share/nltk_data'
    - '/usr/local/share/nltk_data'
    - '/usr/lib/nltk_data'
    - '/usr/local/lib/nltk_data'
**********************************************************************